body {
  background-color: rgb(25, 25, 25);
  color: white;
  font-family: Arial;
  margin-left: 350px;
  margin-right: 350px;
  margin-top: 100px;
}

.header {
  height: 150px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(212, 212, 212);

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

.RPS {
  font-size: 30px;
  font-weight: bold;
}

.move-icon {
  height: 50px;
}

.move-button {
  background-color: transparent;
  border: 3px solid white;
  width: 150px;
  height: 150px;
  border-radius: 80px;
  cursor: pointer;
  margin-left: 100px;

}

.result {
  font-size: 25px;
  font-weight: bold;
  margin-top: 50px;

}

.score {
  margin-top: 50px;
}

.reset-score-button {
  font-size: 15px;
  padding: 9px 15px;
  border: none;
  background-color: white;
  cursor: pointer;
}