body {
  background-color: rgb(25, 25, 25);
  color: white;
  font-family: Arial;
  margin: 0;
  display: flex;
  /* activates the flexbox*/
  flex-direction: column;
  align-items: center;

}

.header {
  margin-top: 75px;
  height: 150px;
  display: flex;
}

.RPS {
  font-size: 30px;
  font-weight: bold;
}

.move-icon {
  height: 50px;
}

.move-button {
  background-color: transparent;
  border: 3px solid white;
  width: 150px;
  height: 150px;
  border-radius: 80px;
  cursor: pointer;

  transition: transform 0.2s ease;
  /* If the transform property changes, animate that change smoothly in 0.2 seconds.*/
}

.move-button:active {
  transform: scale(0.9);
  /*shrinks the button to 80 percent when clicked */
}

/* :active is a pseudoclass, applies only while the mouse button is being pressed */

.clicked {
  /* A dynamic class added by Javascript, does not appear in HTML */
  transform: scale(0.5);
}

.move-result {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 350px;
  height: 150px;
  border: 2px solid white;
  border-radius: 175px;

}

.result {
  font-size: 25px;
  font-weight: bold;
  margin-top: 50px;

}

.score {
  margin-top: 50px;
}

.reset-score-button {
  font-size: 15px;
  padding: 9px 15px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
}

.buttons-parent {
  display: flex;
  /* makes children line up horizontally*/
  gap: 80px;

}


.rps-info {
  display: flex;
  align-items: center;
  flex-direction: column;
  Width: 624px;
}

.footer {
  margin-top: 100px;
  font-size: 13px;
}