body {
  background-color: rgb(25, 25, 25);
  color: white;
  font-family: Arial;
  margin: 0;
  padding-top: 180px;
  display: flex;
  /* activates the flexbox*/
  flex-direction: column;
  align-items: center;

}

.header {
  height: 150px;
  display: flex;


  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(212, 212, 212);

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

.RPS {
  font-size: 30px;
  font-weight: bold;
}

.move-icon {
  height: 50px;
}

.move-button {
  background-color: transparent;
  border: 3px solid white;
  width: 150px;
  height: 150px;
  border-radius: 80px;
  cursor: pointer;

}

.result {
  font-size: 25px;
  font-weight: bold;
  margin-top: 50px;

}

.score {
  margin-top: 50px;
}

.reset-score-button {
  font-size: 15px;
  padding: 9px 15px;
  border: none;
  background-color: white;
  cursor: pointer;
}

.buttons-parent {
  display: flex;
  /* makes children line up horizontally*/
  border: 3px solid rgb(53, 255, 70);
  gap: 80px;

}

.buttons {
  border: 3px solid rgb(53, 255, 70);


}

.rps-info {
  border: 3px solid rgb(53, 255, 70);
}