body {
  background-color: rgb(40, 39, 69);
  color: white;
  font-family: Arial;
  margin: 0;

}

.header {
  margin-top: 50px;
  height: 100px;
  display: flex;
  justify-content: center;
}

.RPS {
  font-size: 30px;
  font-weight: bold;
}

.move-icon {
  height: 50px;
}

.move-button {
  background-color: transparent;
  border: 3px solid white;
  width: 150px;
  height: 150px;
  border-radius: 80px;
  cursor: pointer;

  transition: transform 0.2s ease;
  /* If the transform property changes, animate that change smoothly in 0.2 seconds.*/
}

.move-button:active {
  transform: scale(0.9);
  /*shrinks the button to 80 percent when clicked */
}

/* :active is a pseudoclass, applies only while the mouse button is being pressed */

.move-button:hover {
  background-color: rgba(126, 126, 126, 0.3);
  transition: 0.2s;
}

.clicked {
  /* A dynamic class added by Javascript, does not appear in HTML */
  transform: scale(0.5);
}

.move-result {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 350px;
  height: 150px;
  border: 2px solid rgb(255, 251, 251);
  border-radius: 175px;
  background-color: rgba(40, 39, 69, );

}

.result {
  font-size: 25px;
  font-weight: bold;
  margin-top: 50px;
  border-bottom: 2px solid rgb(53, 52, 93);
  padding-bottom: 10px;

}

.score {
  margin-top: 50px;
}

.reset-score-button,
.autoplay-button {
  font-size: 15px;
  padding: 9px 15px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
}


.reset-score-button:hover,
.autoplay-button:hover {
  background-color: rgb(82, 82, 255);
  color: white;
  transition: background-color 0.16s,
    color 0.12s;
}

.reset-score-button:active,
.autoplay-button:active {
  background-color: rgb(25, 25, 25);
  color: white;
  transition: 0.15s;
}

.buttons-parent {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 90px;
}

@media (max-width: 600px) {
  .buttons-parent {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .move-button {
    width: 100px;
    height: 100px;
    transition: 0.20s;
  }

  .move-result {
    width: 280px;
    height: 125px;
    transition: 0.30s;
  }

  .result {
    font-size: 22px;
    transition: 0.20s;
  }


}

@media (min-width: 601px) and (max-width: 999px) {
  .buttons-parent {
    grid-template-columns: repeat(3, 1fr);
    gap: 90px;
  }

  .move-button {
    width: 150px;
    height: 150px;
    transition: 0.30s;
  }

  .move-result {
    width: 350px;
    height: 150px;
    transition: 0.30s;
  }

  .result {
    font-size: 25px;
    transition: 0.20s;
  }

  .js-move {
    font-size: 15px;
    transition: 0.20s;
  }

}

.game {
  min-height: calc(100vh - 180px);
  display: flex;
  /* activates the flexbox*/
  flex-direction: column;
  align-items: center;
  /*min-height: calc(100vh - 180px); */
  justify-content: center;

}

.rps-info {
  display: flex;
  align-items: center;
  flex-direction: column;
  Width: 624px;
}

.footer {
  padding-top: 20px;
  font-size: 13px;
  display: flex;
  justify-content: center;
}